<div class="center hero-unit">
  <h1>Welcome to OLP</h1>

  <h2>
  Welcome to Online Learning Platform Project at Mudd.  
 </h2>

 Some links:
 <a href="http://www5.hmc.edu/ITNews/wp-content/uploads/2011/12/IT-reading-prior-to-Saddle-Rock-2011.pdf">Saddle Rock Notes</a>
  


<h3>Department Liaisons</h3>

 Math: Tum Chaturapruek,
 Chemistry: Matt Valentine,
 Biology: Jerry,
 Engineering: Michael,
 Computer Science: Paul,
 HSA: Tum,
 Physics: Kaew, Wee

<hr>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>