<% provide(:title, 'Course Info') %>
<h1>Course Info</h1>
<p>
 Here are courses that we hope to host for this spring 2013.
 
    <h2> <%= link_to "Math 40: Intro to Linear Algebra", math40_path %> </h2>
    <b>Class begins:</b> January 21, 2013.

    <p>
      <b> Course Description: </b>
        Theory and applications of linearity, including vectors, matrices, systems of linear equations, dot and cross products, determinants, linear transformations in Euclidean space, linear independence, bases, eigenvalues, eigenvectors, and diagonalization. Prerequisites: One year of calculus at the high-school level. Spring, first half
    </p>

    <center>
    <img src = "http://images.betterworldbooks.com/053/Linear-Algebra-Poole-David-9780538735452.jpg"
    width = "250px">
   </center>
    <p>
    <b> Textbook information </b> (CHOOSE - SELECT 1 of 2 FROM THE FOLLOWING MATERIALS:
       <ul> 
        <li> 1 TITLE:Linear Algebra (w/out AccessCode)<br>
          AUTHOR:Poole<br>
          EDITION:3rd<br>
          COPYRIGHT YEAR:2011<br>
          PUBLISHER:Cengage Learning<br>
          ISBN:9780538735452<br>
          NEW:\$313.00<br>
          USED:\$234.75<br>
          RENTAL NEW:\$219.10<br>
          RENTAL USED:\$133.03<br>
        </li>
        <li>
          2 TITLE:Linear Algebra: A Modern Introduction<br>
          FORMAT:CaféScribe Format<br>
          AUTHOR:Poole<br>
          EDITION:3rd<br>
          COPYRIGHT YEAR:2011<br>
          PUBLISHER:Cengage Learning<br>
          ISBN:9781133169574<br>
          DIGITAL RENTAL:\$102.49<br>
        </li>
      </ul>
    </p>
<!-- ----------------------------------------------------------------------------------------- -->
    <hr>
    <h2> <%= link_to "Math 132: Mathematical Analysis II", math132_path %> </h2>
    <b>Class begins:</b> This class was taught by Prof. Su in fall 2012. 
    The content of the course will be put on this website some time in spring.
    <p>
      <b> Course Description: </b>
        A rigorous study of calculus in Euclidean spaces including multiple Riemann integrals, derivatives of transformations and the inverse function theorem. Prerequisites: Mathematics 131. (Offered jointly; Fall semester at HMC, second semester at Pomona)
     </p>
    <center>
    <img src = "http://oumathclub.files.wordpress.com/2010/05/rudinbook.jpg" width = "250px">
   </center>
     
</p>