<script>
function myfun(){
  x = document.getElementById("demo")  //Find the element
  x.innerHTML = "Hello JavaScript";    //Change the content
  x.show("slow");
}
</script>

<% provide(:title, 'Learnstream Gamma') %>
<h1>Learnstream Gamma</h1>
<p>

  <h4 data-toggle="collapse" data-target="#chrome">I'm having trouble viewing content on the site!</h4>
  <div id="chrome" class="collapse">
    <p>If you're having any difficulties viewing content on the site, try using Chrome or Firefox as your browser.</p>
  </div>


<h3>Experimental Areas:</h3>

<button type="button" onclick="myfun()">Click Me!</button>
<div id = "demo"> </div>
  <ul>
    <li> Well, we try to break a video into small parts, each corresponding to exactly one concept, rather than having the students watch the whole video.
      This will benefit the students when they first
      see the lectures so they know the landscape,
      and also when they review the materials so 
      they know exactly where to look for. 

      Right now, we are learning how to do this
      in a systematic way using BackBone.js.
    </li>
  </ul>

<% video_id = "sqEyWLGvvdw" %>
<% video_time = "70" %>
<% video_end = "395" %>


<script>
  // ensure the web page (DOM) has loaded
  document.addEventListener("DOMContentLoaded", function () {

     // Create a popcorn instance by calling the Youtube player plugin
     var example = Popcorn.youtube(
       '#video',
       'http://www.youtube.com/embed/sqEyWLGvvdw' );

     // set autoplay
    example.autoplay( false );

     // add a footnote at 2 seconds, and remove it at 6 seconds
     example.footnote({
       start: 2,
       end: 6,
       text: "Welcome to Math 131!",
       target: "footnotediv"
     });

     // play the video right away
     example.play();

  }, false);
</script>

<!-- popcorn video
<div id="video" style="width: 360px; height: 300px;" ></div>
<div id="footnotediv"></div>
-->

<script>

    var params = { allowScriptAccess: "always" };
    var atts = { id: "myytplayer" };
    swfobject.embedSWF("http://www.youtube.com/v/sqEyWLGvvdw?enablejsapi=1&playerapiid=ytplayer&version=3",
                       "ytapiplayer", "425", "356", "8", null, null, params, atts);
</script>

<script>
    // Get a player reference
    function onYouTubePlayerReady(playerId) {
      ytplayer = document.getElementById("myytplayer");
    }
</script>

<div id="ytapiplayer">
    You need Flash player 8+ and JavaScript enabled to view this video.
</div>

 <a href="javascript:ytplayer.playVideo()">Play</a> 

<hr>
<!--  A normal HTML way to put a video
<iframe width="420" height="345"
src="http://www.youtube.com/embed/sqEyWLGvvdw">
</iframe>
-->

<!-- HTML5 video
  <video id="sampleMovie" src="http://www.youtube.com/embed/sqEyWLGvvdw"></video>-->

<br>
<ul>
<li><a href="javascript:ytplayer.seekTo(15, false)">First Chunk
<span>1</span>
</a></li>
<li><a href="javascript:ytplayer.seekTo(2530, false)">Construction of rational numbers
<span>2</span>
</a></li>
<li><a href="#">Quiz
<span>3</span>
</a></li>
</ul>
<a href="#" class="texthide" id="content-chapter-expand">Expand Chapters</a>
</div>


</p>