<script type = "javascript">

var test = 1;
alert(test);
</script>

<% provide(:title, 'Math 132') %>
<header class = "navbar">
  Course Info, Quizzes, Flashcards, Problem Sets, Videos, Forum, Surveys
</header>
<h1>Math 132: Mathematical Analysis II</h1>
<p>
      <b> Course Description: </b>
         A rigorous study of calculus in Euclidean spaces including multiple Riemann integrals, derivatives of transformations and the inverse function theorem. Prerequisites: Mathematics 131. (Offered jointly; Fall semester at HMC, second semester at Pomona)
</p>


Content:
<table border="1">
<tr>
  <td>Lecture 1: Multiple Riemann integrals</td>
</tr>
<tr>
  <td>Lecture 2: Derivatives of transformations</td>
</tr>
<tr>
  <td>Lecture 3: Lebesgue Integrals</td>
</tr>
<tr>
  <td>Lecture 4: The inverse function theorem</td>
</tr>
<tr>
  <td>Lecture 5: Differential forms</td>
</tr>
<tr>
  <td>Lecture 6: Stokes' Theorem</td>
</tr>
</table>

Question: Suppose $f_n(x) = \sin(nx)$ for all real number $x$. What does $\lim_{n\to \infty} f_n(x)$ mean?