<% provide(:title, 'Math 40') %>
<ul class="nav nav-pills">
  <li class="active"> Course Info </li>
  <li> Quizzes </li>
  <li> Problem Sets </li>
  <li> Flashcards </li>
  <li> Videos </li>
  <li> Forum </li>
  <li> Surveys </li>
</ul>

<h1>Math 40: Intro to Linear Algebra</h1>

<%= link_to "Enroll now! (only .hmc.edu email allowed)", math40_enroll_path, 
class: "btn btn-large btn-primary"%>
<p>
      <b> Course Description: </b>
        Theory and applications of linearity, including vectors, matrices, systems of linear equations, dot and cross products, determinants, linear transformations in Euclidean space, linear independence, bases, eigenvalues, eigenvectors, and diagonalization. Prerequisites: One year of calculus at the high-school level. Spring, first half
</p>

Content:
<table border="1">
<tr>
  <td>Lecture 1: vectors</td>
</tr>
<tr>
  <td>Lecture 1: matrices</td>
</tr>
<tr>
  <td>Lecture 2: systems of linear equations</td>
</tr>
<tr>
  <td>Lecture 2: dot and cross products</td>
</tr>
<tr>
  <td>Lecture 2: determinants</td>
</tr>
<tr>
  <td>Lecture 3: linear transformations in Euclidean space</td>
</tr>
<tr>
  <td>Lecture 3: linear independence </td>
</tr>
<tr>
  <td>Lecture 4: bases </td>
</tr>
<tr>
  <td>Lecture 5: eigenvalues, eigenvectors </td>
</tr>
<tr>
  <td>Lecture 6: diagonalization </td>
</tr>
</table>

