<% provide(:title, 'Projects') %>
<h1>Why Online Learning Platform (OLP)?</h1>

<p>
	Well, learning is fun, isn't it? But usually it is fun only when 
	you understand what you are learning. When taking challenging classes at a university, 
	some students simply cannot understand some (or most) parts of the materials,
	because everyone of course learns at a different pace.
	Here at Mudd, an interaction between students and professors has
	been exceptional. Students here do ask a lot of questions, and
	they can go to office hours in addition to the class time 
	to get to know the professor and to get up with the class.
	However, there are still many things that can be done
	to help students learn better. Re-watching lectures, for
	example, can help them understand the materials that they
	did not understand in the first pass. This will be very
	effective if they can go directly to the concepts that 
	are unclear to them, not the whole lecture.
	Having in-video quizzes and 
	normal quizzes would also enable the students to test
	the basic understanding. 
</p>
<p>
	The importance of understanding the materials cannot be overstated.
	It is a totally different experience between when I go to 
	class ready to learn new materials, and when I go to 
	class knowing that I have to catch up the previous
	materials in order to understand these new materials.
	If more students are ready to learn new materials in class,
	then the interactions in class would be more meaningful. 
	One goal of this project is 
	to <em>increase</em> an interaction between students
	and the professors.
</p>
<p>
	In the first phase (spring 2013), we think about
	experimenting with Math 40 with courtesy of Professor Su.
	This online version will be used internally, at least for now,
	and so this can change many of the designing decisions.
	For example, the quality of the videos need not be
	that high (which is hard to do without proper equipment).
	In addition, knowing that the course would not
	go totally public can make the professor feel more
	comfortable teaching the class, not needing to 
	worry about the copyright issues.
</p>
<p>
	  We did not start everything from scratch.
	  We continue existing projects by two Mudd alum: Ryan and Neil.
	  The existing projects are the following:
	  <ul>
	  	<li><a href = "http://learntrace.herokuapp.com/"> Learntrace </a></li>
	  	The motto of this site is "Don't just look. Learn!" You can 
	  	put video links in your "streams". Then you can schedule those.
	  	Basically you create your own course of study, and you can share
	  	those with other people too.

	  	<li><a href = "http://learnstream.heroku.com/"> Learnstream </a></li>
	  	This one has nice exercises. You can watch mini-lectures, solve problems, 
	  	track your progresses, and get better in your class.

	  	<li><a href = "http://beta.learnstream.org/"> Learnstream Beta </a></li>
	  	This site was used as a supplement of Math 131: Real Analysis 
	  	class taught by Prof. Su. It has all the lectures. Students can 
	  	view the lectures before class, or review it. 
	  	Other features include flashcards that anyone can post and share with
	  	classmates.
	  </ul>
</p>


  <h2>Some new ideas include:</h2>
  <ul>
  	<li>Interactive quizzes</li>
  	<li>Breaking videos lessons into small chunks </li>
  	<li>Make a course that stands on its own (for people who don't enroll for the class). This is more difficult, so we put it off until later </li>
  </ul>


  <h2>Things that are already known how to do</h2>
  <ul>
    <li> This semester we learned quite a bit
      of Ruby on Rails, so that this page
      is possible. </li>
    <li> Add a math equation like this: 
      $\sqrt{9 + 4\sqrt{5}} - \sqrt{9 - 4\sqrt{5}} = 4,$ or like this
      \[\sum_{n=1}^\infty \frac{1}{n^2} = \frac{\pi^2}{6}.\]
      We use MathJax for this one.
    </li>
  </ul>

<p>
<h2>Some Models</h2>
<ul>
	<li> <a href = "http://www.coursera.com/">Coursera</a>:
		This is a great model of an online learning platform that has
		been popular lately. It offers many great great classes
		for free. There are more than 200 courses (as of December 2012)
		with a partnership of about 20 universities.
		I myself took Machine Learning, Automata, Algorithms, 
		Software as a Service (SaaS),
		Sociology, half of Quantum mechanics,
		and a little bit of other classes.
	</li>
	<li> <a href = "http://www.codeschool.com/">Code School</a>:
		This is another great model of a online learning platform,
		mainly for coding. Its user interface is exceptional,
		and they have TV screen-casts of how to make one yourself.
	</li>
	<li> <a href = "http://class.stanford.edu/">Class2Go</a>:
		This is another online learning platform. It is open-source, but
		it uses a Django (python-based) framework. We can still learn 
		many things from it though.
	</li>
	<li> <a href = "http://www.codecademy.com/">Code Academy</a>:
		This one has a feature that you can teach code.
		We can adapt this idea to allow students here at Mudd
		to teach whatever they want.
	</li>
	<li> <a href = "http://learnstream.heroku.com/">Learn Stream</a>:
		Explained above.
	</li>
	<li> <a href = "http://learntrace.heroku.com/"> Learn Trace</a>:
		Explained above.
	</li>
</ul>

<h2>Some Tools to Learn</h2>
<ul>
	<li> <a href = "http://www.w3schools.com/js/">Javascript</a>:
		It will make the website much more interactive.
	</li>
	<li> <a href = "http://popcornjs.org/">Popcorn.js</a>:
		The javascript library brings the new HTML abilities to work nicely with videos.
		For example, you can add Wikipedia pages or add subtitles to Youtube videos.
	</li>
</ul>
</p>