<% provide(:title, 'Projects') %>
<h1>Development Ideas</h1>
<p>
<h2>Ideas</h2>
<ul>
	<li> <a href = "http://popcornjs.org/"> Popcorn.js </a></li>
	<li> <a href = "http://www.coursera.com/"> Coursera </a></li>
	<li> <a href = "http://www.codecademy.com/"> Code Academy </a> </li>
	<li> <a href = "http://learnstream.heroku.com/"> Learn Stream </a> </li>
	<li> <a href = "http://learntrace.heroku.com/"> Learn Trace </a> </li>
</ul>

<h2>To learn</h2>
<ul>
	<li> MathJax </li>
	<li> JQuery</li>
</ul>

</p>