<% provide(:title, 'Secret Page') %>
<h2>A Secret Page</h2>
<p>



<script>
  // ensure the web page (DOM) has loaded
  document.addEventListener("DOMContentLoaded", function () {

     // Create a popcorn instance by calling the Youtube player plugin
     var example = Popcorn.youtube(
       '#video',
       'http://www.youtube.com/watch?v=v_aMSrG_pwk' );

     // set autoplay
    example.autoplay( false );

     // add a footnote at 2 seconds, and remove it at 6 seconds
     example.footnote({
       start: 2,
       end: 6,
       text: "Welcome to Math 131!",
       target: "footnotediv"
     });

     // play the video right away
     example.play();

  }, false);
</script>

<!-- popcorn video
<div id="video" style="width: 360px; height: 300px;" ></div>
<div id="footnotediv"></div>
-->

<script>

    var params = { allowScriptAccess: "always" };
    var atts = { id: "myytplayer" };
    swfobject.embedSWF("http://www.youtube.com/v/v_aMSrG_pwk?enablejsapi=1&playerapiid=ytplayer&version=3",
                       "ytapiplayer", "570", "480", "8", null, null, params, atts);
</script>

<script>
    // Get a player reference
    function onYouTubePlayerReady(playerId) {
      ytplayer = document.getElementById("myytplayer");
    }
</script>


<ul>
<li><a href="javascript:ytplayer.playVideo()">Play</a></li>
<li><a href="javascript:ytplayer.seekTo(55, false)">Things to do: Step 1 -- Recording videos</a></li>
<li><a href="javascript:ytplayer.seekTo(140, false)">Philosophy</a></li>
<li><a href="javascript:ytplayer.seekTo(246, false)">Step 2 -- Developing a platform</a></li>
<li><a href="javascript:ytplayer.seekTo(324, false)">Step 3 -- Testing the platform</a></li>
</ul>

<center>
<div id="ytapiplayer">
    You need Flash player 8+ and JavaScript enabled to view this video.
</div>
</center>

<hr>
<!--  A normal HTML way to put a video
<iframe width="420" height="345"
src="http://www.youtube.com/embed/sqEyWLGvvdw">
</iframe>
-->

<!-- HTML5 video
  <video id="sampleMovie" src="http://www.youtube.com/embed/sqEyWLGvvdw"></video>-->

<br>


</p>