<% provide(:title, 'Teach') %>
<h1>Teach</h1>
<p>
  This is a subproject of OLP. 
  We develop a platform so that YOU
  can teach things you like to teach.
  You can create exercises with 
  dynamic and interaction.
  For example, if you are really good at Soduku,
  you might want to teach other people to learn
  some techniques for you and practice.
  They can pick up this quickly and then 
  you can meet up to play together!
</p>