<footer class="footer">
  <small>
    <a href="http://muddsd.herokuapp.com/">Mudd Software Development Club</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
    <br>
    This website is student-run. The online offering of classes does not reflect the entire
curriculum offerred to students at Harvey Mudd College.
    <center>
    <img src = "http://www.jsd.claremont.edu/poster/hmc.png"
    width = "120px">
   </center>
  </nav>
</footer>